@model IEnumerable<Entities.Usuario>

@{
    ViewBag.Title = "Administración de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/CommonsJS.js"></script>
<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create")
</p>



<div id="UsuariosGrid">

</div>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "UsuariosGrid" }))
{
    <input type="hidden" id="CurrentPage" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="LastPage" value="@ViewBag.LastPage" />
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" id="previa">Previo</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#" id="sig">Siguiente</a></li>
    </ul>
</nav>

<script type="text/javascript">
    $(document).ready(function () {
        $("#previa").click(function () {
            $("form").submit();

        });



    });


</script>