@model Entities.Articulo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @*<form class="needs-validation" novalidate>*@
    <div class="form-horizontal">   
        <h4>Articulo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <label class="control-label col-md-2" for="estilo">Estilo</label>
            <input class="form-control text-box single-line" id="estilo" name="estilo" type="text" value="">
        </div>
        <br />
        <div class="form-row">
            <label class="control-label col-md-2" for="marca">Marca</label>
            <input class="form-control text-box single-line" id="marca" name="marca" type="text" value="">
        </div>
        <br />
        <div class="form-row">
            <label class="control-label col-md-2" for="descripcion">Descripcion</label>
            <input class="form-control text-box single-line" id="descripcion" name="descripcion" type="text" value="">
        </div>
        <br />
        <div class="form-row">
            <label class="control-label col-md-2" for="stock">Stock</label>
            <input class="form-control text-box single-line" id="stock" name="stock" type="text" value="">
        </div>
        <br />
        <div class="form-row">
            <label class="control-label col-md-2" for="precio">Precio de Venta</label>
            <input class="form-control text-box single-line" id="precio" name="precio" type="text" value="">
            
        </div>
        <br />

        <div class="form-row">
            <label class="control-label col-md-2" for="precio">Costo</label>
            <input class="form-control text-box single-line" id="costo" name="costo" type="text" value="">

        </div>
        <br />
        <div class="form-row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
